<!DOCTYPE html>
<html>

<head>
<title>Submit Test Result</title>
</head>

<body>
<a href="/">Main Page</a> |
<a href="/component_dashboard">Component Dashboard</a> |
<a href="/tester_dashboard">Tester Dashboard</a> |
<a href="/calendar">Shift Calendar</a> |
<a href="/daily_snapshot">Daily Snapshot</a>
<!-- <a href="/submit">Enter Test</a> -->

<h1>Enter Test Result</h1>

{% if message %}
<p style="color:green"><b>{{message}}</b></p>
{% endif %}

<form method="post">

Component:

<select name="component" id="component" onchange="updateFailures()">

{% for c in components %}
<option value="{{c}}">{{c}}</option>
{% endfor %}

</select>

<br><br>

Serial Number:

<input type="text" name="serial" required>

<br><br>

Tester:

<select name="tester">

{% for t in testers %}
<option value="{{t}}">{{t}}</option>
{% endfor %}

</select>

<br><br>

Status:

<select name="status">

<option value="good">good</option>
<option value="bad">bad</option>
<option value="under investigation">under investigation</option>

</select>

<br><br>

Failure Mode:

<select name="failure_mode" id="failure_mode">
<option value="">None</option>
</select>

<br><br>

<button type="submit">Submit</button>

</form>

<script>

let failures = {{ failures | tojson }}

function updateFailures(){

    let component = document.getElementById("component").value
    let failureSelect = document.getElementById("failure_mode")

    failureSelect.innerHTML = "<option value=''>None</option>"

    if(component in failures){

        failures[component].forEach(function(mode){

            let opt = document.createElement("option")
            opt.value = mode
            opt.text = mode

            failureSelect.appendChild(opt)

        })
    }

}

updateFailures()

</script>

</body>

</html>
